{% if template != 'cart' %}
<div class="cart-fixed CartContent">
    <div class="js-close-card"></div>
    <div class="cart-fixed__wrap">
        {%liquid
          if cart.item_count <= 0
            assign hidden = 'd-none'
          else
            assign hidden = ''
          endif
        %}
        <div class="{{ hidden }}">
            {%- render 'icon-loading' -%}
        </div>
        <div class="btn-link-text text-center cart-btn"></div>
    </div>
</div>
<div class="cart-bg"></div>

<script type="text/javascript">
var Cart = {
    Content: document.querySelector('.CartContent'),
    
    // list: document.querySelector('.js-cart'),
    // items: document.querySelector('.cart-popup-items'),
    // target: document.querySelector('#cart'),
    // screen: document.querySelector('.cart-bg'),
    // closes: document.querySelector('.js-close-card'),
    // action: document.querySelector('.cart-btn')
    // actions
};
Cart.Lines = Cart.Content.querySelector('.CartLines');

Cart.Open = e => {
    Cart.Content.classList.add('is-show');
};
// cart.list.addEventListener('click', e => {
//     e.preventDefault();
//     openCart();
// });
// cart.closes.addEventListener('click', () => {
//     closeCart();
// });
</script>
{% endif %}
<script type="text/javascript">
const removeItem = async data => {
    return await fetch("/cart/change.json", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({
            ...data,
            quantity: 0
        })
    });
};
const addItem = async data => {
    return await fetch("/cart/add.json", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({...data})
    });
};
const getItem = async () => {
    return await fetch("/cart.json").then(res => res.json());
};
const addToCart = e => {
    var parent = e.parentElement,
        self = parent.innerHTML;

    parent.innerHTML = `{% render 'icon-loading' %}`;
    var data = {
        id: e.dataset.variantId,
        quantity: document.querySelector('input[name=quantity]') ? document.querySelector('input[name=quantity]').value : 1
    };
    try {
        addItem(data).then(res => {
            getItem()
                .then(data => {
                    refreshCart(data);
                    parent.innerHTML = '';
                    parent.appendChild(self);
                    openCart();
                });
        });
    } catch(e) {
        console.log(e);
    }
};
const onDelete = e => {
    e.parentElement.innerHTML = `{% render 'icon-loading' %}`;

    var id = e.dataset.id;
    removeItem({id: id}).then(res => {
        if (res.status == 200) {
            getItem()
                .then(data => {
                    refreshCart(data);
                });
        }    
    });
};
function openCart() {
    cart.target.classList.add('is-show');
    cart.screen.classList.add('is-show');
}
function closeCart() {
    cart.target.classList.remove('is-show');
    cart.screen.classList.remove('is-show');
}
function refreshCart(data) {
    if (parseInt(data.item_count) <= 0) {
        cart.action.innerHTML = `{% render 'icon-cart-empty' %}{{ 'Continuing shopping' | link_to: '/collections' }}`;
        cart.items.innerHTML = '';
        document.querySelector('.cart-popup-wrap').classList.add('d-none');
    } else {
        cart.action.innerHTML = `{{ 'View and Edit Cart' | link_to: '/cart' }}`;
        var result = ``;
        data.items.forEach(e => {
            var price = Shopify.formatMoney(e.price);
            result += `
            <div class="shipping__item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="cart-img">
                            <img src="${e.image}" alt="${e.title}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <a href="${e.url}" class="ttl">${e.title}</a>
                    </div>
                    <div class="col-sm-2">
                        <p class="price">${price}</p>
                        <div class="btn-link-gray">
                            <a href="javascript:void(0)" onclick="onDelete(this)" data-id="${e.id}"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            `;
        });
        cart.items.innerHTML = result;
        document.querySelector('.cart-popup-wrap').classList.remove('d-none');
        document.querySelector('.cart-total-price').innerText = Shopify.formatMoney(data.total_price);
        document.querySelector('.cart-count').innerText = data.item_count;
    }
}
// function toggleDetail(e) {
//     e.classList.toggle('is-active');
//     var next = e.parentElement.nextElementSibling;

//     if (next.style.display === '' || next.style.display === 'none') {
//         next.style.display = "block";
//     } else {
//         next.style.display = 'none';
//     }
// }

document.addEventListener('Sync', async e => {
    var cartItems = await getItem();
    console.log(cartItems);
});
</script>