<div class="cart-fixed">
    <div class="js-close-card"></div>
    <div class="cart-fixed__wrap">
        <p class="text-center"><strong>Total $22.47</strong></p>
        <div class="btn-payment"><a href=""><i class="fa fa-lock"></i>Proceed to Payment</a></div>
        <p class="text-center">2 Products in cart</p>
        <div class="shipping__item">
            <div class="row">
                <div class="col-sm-4">
                    <div class="cart-img"><img src="./assets/images/dummy5.png" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="" class="ttl">Mayo Stand With Mobile Base</a>
                    <div class="btn-view">
                        <a href="">View Detail</a>
                    </div>
                    <div class="view-more">
                        <p><strong>Lenght:</strong>7mm</p>
                        <p><strong>Titanium Color:</strong>Yellow - 60-63 Volt</p>
                        <p class="qtybox"><strong>Quantity:</strong><input type="text" class="qty" value="1"></p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <p class="price">$9.27</p>
                    <div class="btn-link-gray">
                        <a href=""><i class="fa fa-pencil"></i></a>
                        <a href=""><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shipping__item">
            <div class="row">
                <div class="col-sm-4">
                    <div class="cart-img"><img src="./assets/images/dummy5.png" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="" class="ttl">Mayo Stand With Mobile Base</a>
                    <div class="btn-view">
                        <a href="">View Detail</a>
                    </div>
                    <div class="view-more">
                        <p><strong>Lenght:</strong>7mm</p>
                        <p><strong>Titanium Color:</strong>Yellow - 60-63 Volt</p>
                        <p class="qtybox"><strong>Quantity:</strong><input type="text" class="qty" value="1"></p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <p class="price">$9.27</p>
                    <div class="btn-link-gray">
                        <a href=""><i class="fa fa-pencil"></i></a>
                        <a href=""><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-link-text text-center">
            <a href="">View and Edit Cart</a>
        </div>
    </div>
</div>
<script type="text/javascript">
var cart = {};
cart.list = document.querySelector('.js-cart');
cart.screen = document.querySelector('.cart-bg');
cart.list.addEventListener('click', e => {
  e.preventDefault();
  
  var id = e.dataset.nav;
  console.log(id);
});
</script>