<div class="cart-fixed" id="login">
    <div class="js-close-card" onclick="closeLoginPopup(this)"></div>
    <div class="cart-fixed__wrap">
        <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8">
            <div class="form-login">
                <p class="text-center"><strong>Customer Login</strong></p>
                <p class="text-center">For Registered Customers:</p>
                <div id="ErrDiv"></div>
                <input type="hidden" name="form_type" value="customer_login">
                <div class="form-group">
                    <input type="email" class="form-control form-control-line" name="customer[email]" placeholder="Email" data-required="true">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-line" name="customer[password]" placeholder="Password" data-required="true">
                </div>
                <div class="form-group text-center btn-payment wrap-login-btn">
                    <a href="javascript:void(0)" class="btn-yellow btn-submit btn-disabled" onclick="onLoginSubmit(this)">Sign In</a> 
                </div>
                <div class="text-center">
                    <a href="javascript:void(0)">Forgot your password?</a>
                </div>
                <p class="text-center">New Customer? {{ 'Create an account' | link_to: routes.account_register_url }}</p>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
#ErrDiv {
	display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.btn-disabled {
	pointer-events: none;
    background: gray !important;
}
</style>
<script type="text/javascript">
var loginForm = {
	bg: document.querySelector('.cart-bg'),
	form: document.querySelector('#customer_login'),
  	login: document.querySelector('#login'),
  	loginBtn: document.querySelector('.btn-submit'),
  	wrapLoginBtn: document.querySelector('.wrap-login-btn'),
};
var requiredFields = loginForm.form.querySelectorAll('input[data-required=true]'),
	isLoginDisabled = {
		email: true,
		password: true
	};

if (requiredFields) {
	requiredFields.forEach(e => {
		e.addEventListener('keyup', e => {
			var target = e.target;
			switch (target.type) {
				case 'email':
					isLoginDisabled.email = !target.value.length || !/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(target.value);
					break;
				case 'password':
					isLoginDisabled.password = !target.value.length;
					break;
				default:
					// statements_def
					break;
			}

			if (!isLoginDisabled.email && !isLoginDisabled.password) {
				loginForm.loginBtn.classList.remove('btn-disabled');
			} else {
				loginForm.loginBtn.classList.add('btn-disabled');
			}
		})
	});
}
function showLoginPopup(e) {
  	loginForm.login.classList.add('is-show');
  	loginForm.bg.classList.add('is-show');
}
function closeLoginPopup(e) {
  	loginForm.login.classList.remove('is-show');
  	loginForm.bg.classList.remove('is-show');
}
async function onLoginSubmit(e) {
	var _e = e.parentElement.cloneNode(!0);

	var formData = new FormData(loginForm.form),
        formDataObject = {};

    	formData.forEach(function(value, key) {
        	formDataObject[key] = value;
    	});
    loginForm.wrapLoginBtn.innerHTML = `{%- render 'icon-loading' -%}`;

    try {
    	await fetch(window.server.host + `/wp-json/tatoo/action/verify-login`, {
    		method: "POST",
    		headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify(formDataObject)
    	})
    	.then(res => res.json())
    	.then(data => {
    		if (data.err) {
    			var mes = `<span style="margin-left: 5px; color: red; font-size: 12px;">${data.message}</span>`;
    			document.querySelector('#ErrDiv').innerHTML = `{%- render 'icon-warning' -%}` + mes;

    			throw data.code;
    		} else {
    			loginForm.form.submit();
    		}
    	});
    } catch(e) {
    	console.log(e);
    	loginForm.wrapLoginBtn.innerHTML = '';
    	loginForm.wrapLoginBtn.appendChild(_e);
    }
}
</script>