<div class="cart-fixed" id="login">
	<div class="js-close-card" onclick="closeLoginPopup(this)"></div>
	<div class="cart-fixed__wrap">
		
		<div class="form-login">
			<p class="text-center"><strong>Customer Login</strong></p>
			<p class="text-center">For Registered Customers:</p>
			<div class="form-group">
				<input type="text" class="form-control form-control-line" value="" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="text" class="form-control form-control-line" value="" placeholder="Password">
			</div>
			<div class="form-group text-center btn-payment">
				<button type="submit" class="btn-yellow">Sign In</button>
			</div>
			<div class="text-center">
				<a href="">Forgot your password?</a>
			</div>
			<p class="text-center">New Customer? <a href="">Create an account</a></p>
		</div>
	</div>
</div>
<script type="text/javascript">
var Element = {
  login: document.querySelector('#login'),
  bg: document.querySelector('.cart-bg')
};
function showLoginPopup(e) {
  Element.login.classList.add('is-show');
  Element.bg.classList.add('is-show');
}
function closeLoginPopup(e) {
  Element.login.classList.remove('is-show');
  Element.bg.classList.remove('is-show');
}
</script>