<div class="cart-fixed" id="login">
    <div class="js-close-card" onclick="closeLoginPopup(this)"></div>
    <div class="cart-fixed__wrap">
        <form id="customer_login" onsubmit="loginSubmit(this)">
            <div class="form-login">
                <p class="text-center"><strong>Customer Login</strong></p>
                <p class="text-center">For Registered Customers:</p>
                <div id="ErrDiv"></div>
                <input type="hidden" name="form_type" value="customer_login">
                <div class="form-group">
                    <input type="email" class="form-control form-control-line" name="customer[email]" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-line" name="customer[password]" placeholder="Password" required>
                </div>
                <div class="form-group text-center btn-payment">
                    <button type="submit" class="btn-yellow">Sign In</button>
                </div>
                <div class="text-center">
                    <a href="javascript:void(0)">Forgot your password?</a>
                </div>
                <p class="text-center">New Customer? {{ 'Create an account' | link_to: routes.account_register_url }}</p>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
var loginForm = {
  	login: document.querySelector('#login'),
  	form: document.querySelector('#customer_login'),
  	bg: document.querySelector('.cart-bg')
};
function showLoginPopup(e) {
  	loginForm.login.classList.add('is-show');
  	loginForm.bg.classList.add('is-show');
}
function closeLoginPopup(e) {
  	loginForm.login.classList.remove('is-show');
  	loginForm.bg.classList.remove('is-show');
}
async function loginSubmit(e) {
	var formData = new FormData(loginForm.form),
        formDataObject = {};
    formData.forEach(function(value, key){
        formDataObject[key] = value;
    });

    try {
    	await fetch(window.server.host + `/wp-json/tatoo/action/verify-login`, {
    		method: "POST",
    		headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify(formDataObject)
    	})
    	.then(res => res.json())
    	.then(data => {
    		console.log(data);
    	});
    } catch(e) {
    	console.log(e);
    }
}
</script>