<section class="section-content-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="menu-profile-wrap">
                    <ul class="menu-profile">
                        <li><a href=""><span class="icon"><i class="fa fa-user"
                                        aria-hidden="true"></i></span>Account Dashboard</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></span>My orders</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-heart"
                                        aria-hidden="true"></i></span>Wish List</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-id-card-o"
                                        aria-hidden="true"></i></span>Store Credit</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-credit-card-alt"
                                        aria-hidden="true"></i></span>Payment Data</a></li>
                        <li><a href="{{ routes.account_logout_url }}"><span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Log Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="profile-content">
                    <h3 class="ttl-4">Account Dashboard</h3>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">Account Infomation</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Contact Infomation</strong></p>
                                <p>Lê Minh Quốc</p>
                                <p>minhquoc@awebsite.vn</p>
                                <div class="btn-text d-flex">
                                    <a href="">Edit</a>
                                    <a href="">Change Password</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p><strong>Newsletters</strong></p>
                                <p>You are subscribed to "General Subscription".</p>
                                <div class="btn-text d-flex">
                                    <a href="">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">Address book</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Default Billing Address</strong></p>
                                <p>You have not set a default billing address.</p>
                                <div class="btn-text d-flex">
                                    <a href="">Edit Address</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p><strong>Default Shipping Address</strong></p>
                                <p>You have not set a default shipping address.</p>
                                <div class="btn-text d-flex">
                                    <a href="">Edit Address</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>