<section class="section-content-other">
    <div class="container">
        <div class="register">
            <form method="post" action="/account" id="create_customer" accept-charset="UTF-8">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="ttl-4 text-center">Create New Customer Account</h4>
                        <div class="shipping__ttl">Personal Information</div>
                        <div class="shipping__form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">First name<span class="txt-error">*</span></label>
                                        <input type="text" class="form-control form-control-line" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Last Name<span class="txt-error">*</span></label>
                                        <input type="text" class="form-control form-control-line">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1"> Sign Up for Newsletter</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Type of Customer<span class="txt-error">*</span></label>
                                <select name="" id="myselection" class="form-control form-control-line">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <div id="forpartner" class="forpartner">
                                <div class="form-group">
                                    <label for="">Sample<span class="txt-error">*</span></label>
                                    <input type="text" value="" class="form-control form-control-line">
                                </div>
                                <div class="form-group">
                                    <label for="">Sample<span class="txt-error">*</span></label>
                                    <input type="text" value="" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"> Allow remote shopping assistance</label>
                                </div>
                            </div>
                        </div>
                        <div class="shipping__ttl">Sign-in Information</div>
                        <div class="shipping__form">
                            <div class="form-group">
                                <label for="">Email<span class="txt-error">*</span></label>
                                <input type="text" value="" class="form-control form-control-line">
                            </div>
                            <div class="form-group">
                                <label for="password">Password<span class="txt-error">*</span></label>
                                <input type="password" name="password" id="password" class="form-control form-control-line">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password <span class="txt-error">*</span></label>
                                <input type="password" name="password-confirm" id="confirmPassword" class="form-control form-control-line">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="show-password" onclick="onShow(this)">
                                    <label class="custom-control-label" for="show-password"> Show Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="shipping__btn row">
                            <div class="col-sm-6">
                                <div class="shipping__btn">
                                    <div class="btn-payment"><a href="">Create an Account</a></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="shipping__btn">
                                    <div class="btn-back">{{ 'Back' | link_to: shop.secure_url }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
var passwordFields = document.querySelectorAll('input[name=password], input[name=password-confirm]');
function onShow(e) {
  if (e.checked) {
    passwordFields.forEach(e => {
        e.type = 'text';
    })
  } else {
    passwordFields.forEach(e => {
        e.type = 'password';
    })
  }
}
</script>