<section class="section-content-other">
    <div class="container">
        <div class="register">
            <form method="post" action="/account" id="create_customer" accept-charset="UTF-8">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="ttl-4 text-center">Create New Customer Account</h4>
                        <div id="form-content">
                            <div class="shipping__ttl">Personal Information</div>
                            <div class="shipping__form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">First name<span class="txt-error">*</span></label>
                                            <input type="text" name="firstName" class="form-control form-control-line" data-required="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Last Name<span class="txt-error">*</span></label>
                                            <input type="text" name="lastName" class="form-control form-control-line" data-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="newsletter" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1"> Sign Up for Newsletter</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="customer-type">Type of Customer<span class="txt-error">*</span></label>
                                    <select name="customerType" id="customer-type" class="form-control form-control-line" onchange="openWholesale(this)">
                                        <option value="retail">Retail</option>
                                        <option value="wholesale">Wholesale</option>
                                    </select>
                                </div>
                                <div id="forpartner" class="forpartner">
                                    <div class="form-group">
                                        <label for="business-license">Business license<span class="txt-error">*</span></label>
                                        <input type="text" name="businessLicense" class="form-control form-control-line" id="business-license">
                                    </div>
                                    <div class="form-group">
                                        <label for="tax">Tax<span class="txt-error">*</span></label>
                                        <input type="text" name="tax" class="form-control form-control-line" id="tax">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="assistance" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2"> Allow remote shopping assistance</label>
                                    </div>
                                </div>
                            </div>
                            <div class="shipping__ttl">Sign-in Information</div>
                            <div class="shipping__form">
                                <div class="form-group">
                                    <label for="">Email<span class="txt-error">*</span></label>
                                    <input type="email" name="email" class="form-control form-control-line" data-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password<span class="txt-error">*</span></label>
                                    <input type="password" name="password" id="password" class="form-control form-control-line" data-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password <span class="txt-error">*</span></label>
                                    <input type="password" name="passwordConfirm" id="confirmPassword" class="form-control form-control-line" data-required="true">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="show-password" onclick="onShow(this)" data-required="true">
                                        <label class="custom-control-label" for="show-password"> Show Password</label>
                                    </div>
                                </div>
                                <div id="registerErr" style="display: flex; align-items: center;"></div>
                            </div>
                            <div class="shipping__btn row">
                                <div class="col-sm-6">
                                    <div class="shipping__btn btn-submit">
                                        <div class="btn-payment"><a href="javascript:void(0)" onclick="onSubmit(this)">Create an Account</a></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="shipping__btn">
                                        <div class="btn-back">{{ 'Back' | link_to: shop.secure_url }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<style type="text/css">
.requiredErr {
    border-color: red;
}
</style>
<script type="text/javascript">
var Register = {};
Register.Form = document.querySelector('#create_customer');
Register.Err = Register.Form.querySelector('#registerErr');
Register.Password = Register.Form.querySelectorAll('input[name=password], input[name=passwordConfirm]');
Register.Required = Register.Form.querySelectorAll('input[data-required=true]');
Register.FormContent = Register.Form.querySelector('#form-content');
Register.WholesaleDetails = Register.Form.querySelector('#forpartner');
Register.WrapSubmitButton = Register.Form.querySelector('.btn-submit');

function openWholesale(e) {
    if (e.value == 'wholesale') {
        Register.Required = Register.Form.querySelectorAll('input[data-required=true], input[name=businessLicense], input[name=tax]');
        Register.WholesaleDetails.style.display = 'block'
    } else {
        Register.Required = Register.Form.querySelectorAll('input[data-required=true]');
        Register.WholesaleDetails.style.display = 'none';
    }
}
function onShow(e) {
    if (e.checked) {
        Register.Password.forEach(e => {
            e.type = 'text';
        })
    } else {
        Register.Password.forEach(e => {
            e.type = 'password';
        })
    }
}
function verifyRequired() {
    var isErr = false;
    Register.Required.forEach(e => {
        if (!e.value) {
            e.classList.add('requiredErr');
            isErr = true;
        } else {
            e.classList.remove('requiredErr');
        }
    });

    if (isErr) {
        throw 'RequiredErr';
    }
}
function verifyPassword() {
    var passwordFields = Register.Password;

    if (passwordFields[0].value.length < 8) {
        passwordFields[0].classList.add('requiredErr');
        if (passwordFields[0].nextElementSibling == null) {
            passwordFields[0].insertAdjacentHTML('afterend', '<sub style="color: red;">password at least 8 characters</sub>');
        }
        throw 'pwdAtLeast';
    } else {
        passwordFields[0].classList.remove('requiredErr');
        if (passwordFields[0].nextElementSibling) {
            passwordFields[0].nextElementSibling.remove();
        }
    }

    if (passwordFields[0].value !== passwordFields[1].value) {
        passwordFields[1].classList.add('requiredErr');
        if (passwordFields[1].nextElementSibling == null) {
            passwordFields[1].insertAdjacentHTML('afterend', '<sub style="color: red;">password and confirm password does not match</sub>');
        }
        throw 'PasswordNotCompare';
    } else {
        passwordFields[1].classList.remove('requiredErr');    
        if (passwordFields[1].nextElementSibling) {
            passwordFields[1].nextElementSibling.remove();
        }
    }
}
function verifyEmail(field) {
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(field.value)) {
        field.classList.remove('requiredErr');
        if (field.nextElementSibling) {
            field.nextElementSibling.remove();
        }
    } else {
        field.classList.add('requiredErr');
        if (field.nextElementSibling == null) {
            field.insertAdjacentHTML('afterend', '<sub style="color: red;">invalid email</sub>');
        }
        throw 'EmailErr';
    }
}
async function onSubmit(e) {
    var _e = e.parentElement.cloneNode(!0);
    try {
        Register.Err.innerHTML = '';
        Register.WrapSubmitButton.innerHTML = `{% render 'icon-loading' %}`;
        await verifyRequired();
        await verifyPassword();
        await verifyEmail(Register.Required[2]);

        var formData = new FormData(Register.Form),
            formDataObject = {};
        formData.forEach(function(value, key){
            formDataObject[key] = value;
        });

        await fetch(window.server.host + `/wp-json/tatoo/action/customer-register`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify(formDataObject)
        })
        .then(res => res.json())
        .then(data => {
            if (data.err) {
                if (data.field) {
                    var field = document.querySelector(`input[name=${data.field}]`);
                    field.classList.add('requiredErr');
                    field.insertAdjacentHTML('afterend', `<sub style="color: red;">${data.message}</sub>`);    
                } else {
                    var mes = `<span style="margin-left: 5px; color: red; font-size: 12px;">${data.message}</span>`;
                    Register.Err.innerHTML = `{%- render 'icon-warning' -%}` + mes;
                }
                throw data.code;
            } else {
                if ('retail' == data.payload.customerType) {
                    var form = document.createElement('form');
                    form.setAttribute('method', 'post');
                    form.setAttribute('action', '/account/login');

                    // create input
                    var email = document.createElement('input');
                    email.setAttribute('type', 'email');
                    email.setAttribute('name', 'customer[email]');
                    email.setAttribute('value', data.payload.email);

                    var password = document.createElement('input');
                    password.setAttribute('type', 'password');
                    password.setAttribute('name', 'customer[password]');
                    password.setAttribute('value', data.payload.password);

                    var type = document.createElement('input');
                    type.setAttribute('type', 'hidden');
                    type.setAttribute('name', 'form_type');
                    type.setAttribute('value', 'customer_login');

                    form.append(email);
                    form.append(password);
                    form.append(type);

                    document.body.appendChild(form);
                    form.submit();
                } else {
                    var html = `
                    <div class="form-group text-center">
                        <p>You are registered as a Wholesaler</p>
                        <p>Please wait for the administrator's approval</p>                                
                    </div>
                    <div class="shipping__btn" style="width: 50%; margin: auto;">
                        <div class="btn-back">{{ 'Back' | link_to: shop.secure_url }}</div>
                    </div>
                    `;
                    Register.FormContent.innerHTML = html;
                }
            }
        });
    } catch(e) {
        console.log(e);
        Register.WrapSubmitButton.innerHTML = '';
        Register.WrapSubmitButton.appendChild(_e);
    }
}
</script>