<div class="blog__mv">
    <img src="./assets/images/blog.png" alt="">
</div>
{% schema %}
  {
    "name": "Blogs Banner",
    "settings": [
      {
        "id": "banner",
        "type": "image_picker",
        "label": "Desktop banner"
      }
    ]
  }
{% endschema %}