<div class="container">
    <ul class="blog__nav">
        <li>
            <a href=""><img src="./assets/images/blog-item-01.png" alt="">
                <p>Tattoo artists</p>
            </a>
        </li>
        <li>
            <a href=""><img src="./assets/images/blog-item-02.png" alt="">
                <p>Body piercers</p>
            </a>
        </li>
        <li>
            <a href=""><img src="./assets/images/blog-item-03.png" alt="">
                <p>PMU artists</p>
            </a>
        </li>
        <li>
            <a href=""><img src="./assets/images/blog-item-04.png" alt="">
                <p>Clients</p>
            </a>
        </li>
    </ul>
</div>
{% schema %}
  {
    "name": "Feature Blogs",
    "settings": [
      {
        "id": "feature_blogs",
        "type": "link_list",
        "label": "Feature Blogs"
      }
    ]
  }
{% endschema %}