<div class="blog__mv">
  
  {% liquid
    if section.settings.banner != blank
      assign banner = section.settings.banner
      echo banner | image_url: width: 1680, crop: 'center' | image_tag: loading: 'lazy', alt: banner.alt
    else
      echo 'lifestyle-1' | placeholder_svg_tag
    endif
  %}
</div>
{% schema %}
  {
    "name": "Blogs Banner",
    "settings": [
      {
        "id": "banner",
        "type": "image_picker",
        "label": "Desktop banner"
      }
    ]
  }
{% endschema %}