{% if section.blocks != blank %}
<div class="container">
    <ul class="blog__nav">
      {% for block in section.blocks %}
        {% assign blog = block.settings.blog %}
        <li>
            <a href="{{ blog.url }}">
                <img src="./assets/images/blog-item-01.png" alt="">
                <p>{{ blog.title }}</p>
            </a>
        </li>
      {% endfor %}
    </ul>
</div>
{% endif %}
{% schema %}
  {
    "name": "Feature Blogs",
    "blocks": [
      {
        "type": "blogs",
        "name": "Feature Blog",
        "limit": 4,
        "settings": [
          {
            "id": "blog",
            "type": "blog",
            "label": "Select blog"
          }
        ]
      }
    ]
  }
{% endschema %}