{% if section.settings.featured_products %}
<div class="section-content-child product">
    <h2 class="ttl-01">New Product</h2>
    <div class="top-product js-slider-pro">
        {% for product in section.settings.featured_products %}
        <div class="top-product__item">
            <a href="">
                <div class="top-product__item__img">
                    <img src="././assets/images/dummy02.png" alt="">
                </div>
                <p class="ttl">Glove box holder for</p>
                <p class="price">$15.95</p>
            </a>
            <div class="product-nav">
                <a href=""><i class="icon-cart-01"></i></a>
                <a href=""><i class="icon-compare"></i></a>
                <a href=""><i class="icon-like"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% schema %}
{
	"name": "New Product",
	"tag": "section",
	"class": "section-content",
	"settings": [
		{
			"id": "featured_products",
            "type": "product_list",
            "label": "List products",
            "limit": 12
		}
	]
}
{% endschema %}