<div class="container">
				<h2 class="ttl-01">Product review</h2>
				<div class="product-review js-review">
					<div>
						<div class="product-review__item">
							<div class="d-flex">
								<div class="product-review__img">
									<div>
										<img src="./assets/images/dummy03.png" alt="">
									</div>
									<a href="">Opus Blue Disposable Nitrile Gloves — Box of 100</a>
									<div class="rating">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
									</div>
								</div>
								<div class="product-review__info">
									<h3>Buttery smooth</h3>
									<p>I use these everyday and they work great. I love the internal screwing that
										allows
										them to stay in place.</p>
									<p class="name">David P.</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="product-review__item">
							<div class="d-flex">
								<div class="product-review__img">
									<div>
										<img src="./assets/images/dummy03.png" alt="">
									</div>
									<a href="">Opus Blue Disposable Nitrile Gloves — Box of 100</a>
									<div class="rating">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
									</div>
								</div>
								<div class="product-review__info">
									<h3>Buttery smooth</h3>
									<p>I use these everyday and they work great. I love the internal screwing that
										allows
										them to stay in place.</p>
									<p class="name">David P.</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="product-review__item">
							<div class="d-flex">
								<div class="product-review__img">
									<div>
										<img src="./assets/images/dummy03.png" alt="">
									</div>
									<a href="">Opus Blue Disposable Nitrile Gloves — Box of 100</a>
									<div class="rating">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
									</div>
								</div>
								<div class="product-review__info">
									<h3>Buttery smooth</h3>
									<p>I use these everyday and they work great. I love the internal screwing that
										allows
										them to stay in place.</p>
									<p class="name">David P.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% schema %}
  {
    "name": "Product Reviews",
    "tag": "section",
    "class": "section-content-first review",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}