{% assign aboutus = section.settings %}
{% if aboutus != blank %}
    <div class="container">
        <div class="section-content-child">
            <div class="top-about">
                <div class="row align-items-center">
                    <div class="col-md-6 ">
                        <h2 class="ttl-01">{{ aboutus.title }}</h2>
                        {{ aboutus.paraphrase }}
                        {% if aboutus.cta != blank %}
                        <div class="top-about__btn btn-link">
                            {{ 'general.view_all' | t | link_to: aboutus.cta }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% liquid
                        assign dt = aboutus.desktop_thumbnail
                        assign mt = aboutus.mobile_thumbnail
                        if dt != blank
                        echo dt | image_url: width: 550, crop: 'center' | image_tag: loading: 'lazy', alt: dt.alt, class: 'd-none d-md-block'
                        endif
                        if mt != blank
                        echo mt | image_url: width: 400, crop: 'center' | image_tag: loading: 'lazy', alt: mt.alt, class: 'd-md-none'
                        endif
                        %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "About us",
    "tag": "section",
    "class": "section-content",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Title"
        },
        {
            "id": "paraphrase",
            "type": "richtext",
            "label": "Paraphrase"
        },
        {
            "id": "cta",
            "type": "url",
            "label": "CTA"
        },
        {
            "id": "desktop_thumbnail",
            "type": "image_picker",
            "label": "Desktop thumbnail"
        },
        {
            "id": "mobile_thumbnail",
            "type": "image_picker",
            "label": "Mobile thumbnail"
        }
    ]
}
{% endschema %}