<div class="container">
    <div class="section-content-child">
        <h2 class="ttl-01">Shop by category</h2>
        <div class="top-shop">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Body jewelry</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Piercing</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Tatoo</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Permanent makeup</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Studio</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Medical</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content-child gallery">
        <h2 class="ttl-01">Our Gallery</h2>
        <div class="top-gallery clearfix">
            <div class="top-gallery__item left effect-hover">
                <a href="">
                    <div class="top-gallery__item__img">
                        <img src="././assets/images/gallery_01.png" alt="">
                    </div>
                </a>
            </div>
            <div class="top-gallery__item right effect-hover">
                <a href="">
                    <div class="top-gallery__item__img">
                        <img src="././assets/images/gallery_03.png" alt="">
                    </div>
                </a>
            </div>
            <div class="top-gallery__item left effect-hover">
                <a href="">
                    <div class="top-gallery__item__img">
                        <img src="././assets/images/gallery_02.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="section-content-child product">
        <h2 class="ttl-01">New Product</h2>
        <div class="top-product js-slider-pro">
            <div class="top-product__item">
                <a href="">
                    <div class="top-product__item__img">
                        <img src="././assets/images/dummy02.png" alt="">
                    </div>
                    <p class="ttl">Glove box holder for</p>
                    <p class="price">$15.95</p>
                </a>
                <div class="product-nav">
                    <a href=""><i class="icon-cart-01"></i></a>
                    <a href=""><i class="icon-compare"></i></a>
                    <a href=""><i class="icon-like"></i></a>
                </div>
            </div>
            <div class="top-product__item">
                <a href="">
                    <div class="top-product__item__img">
                        <img src="././assets/images/dummy02.png" alt="">
                    </div>
                    <p class="ttl">Glove box holder for</p>
                    <p class="price">$15.95</p>
                </a>
                <div class="product-nav">
                    <a href=""><i class="icon-cart-01"></i></a>
                    <a href=""><i class="icon-compare"></i></a>
                    <a href=""><i class="icon-like"></i></a>
                </div>
            </div>
            <div class="top-product__item">
                <a href="">
                    <div class="top-product__item__img">
                        <img src="././assets/images/dummy02.png" alt="">
                    </div>
                    <p class="ttl">Glove box holder for</p>
                    <p class="price">$15.95</p>
                </a>
                <div class="product-nav">
                    <a href=""><i class="icon-cart-01"></i></a>
                    <a href=""><i class="icon-compare"></i></a>
                    <a href=""><i class="icon-like"></i></a>
                </div>
            </div>
            <div class="top-product__item">
                <a href="">
                    <div class="top-product__item__img">
                        <img src="././assets/images/dummy02.png" alt="">
                    </div>
                    <p class="ttl">Glove box holder for</p>
                    <p class="price">$15.95</p>
                </a>
                <div class="product-nav">
                    <a href=""><i class="icon-cart-01"></i></a>
                    <a href=""><i class="icon-compare"></i></a>
                    <a href=""><i class="icon-like"></i></a>
                </div>
            </div>
            <div class="top-product__item">
                <a href="">
                    <div class="top-product__item__img">
                        <img src="././assets/images/dummy02.png" alt="">
                    </div>
                    <p class="ttl">Glove box holder for</p>
                    <p class="price">$15.95</p>
                </a>
                <div class="product-nav">
                    <a href=""><i class="icon-cart-01"></i></a>
                    <a href=""><i class="icon-compare"></i></a>
                    <a href=""><i class="icon-like"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content-child d-sm-block d-none">
        <h2 class="ttl-01">Featured brands</h2>
        <div class="top-featured">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-featured__img">
                        <a href=""><img src="././assets/images/feature_01.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-featured__img">
                        <a href=""><img src="././assets/images/feature_02.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-featured__img">
                        <a href=""><img src="././assets/images/feature_03.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-featured__img">
                        <a href=""><img src="././assets/images/feature_04.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-featured__img">
                        <a href=""><img src="././assets/images/feature_05.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-featured__img">
                        <a href=""><img src="././assets/images/feature_06.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content-child">
        <h2 class="ttl-01">blog</h2>
        <div class="top-blog">
            <div class="row">
                <div class="col-md-4">
                    <div class="top-blog__item effect-hover">
                        <a href="">
                            <div class="top-blog__item__img">
                                <img src="././assets/images/blog_01.png" alt="">
                                <span>Tattoo meaning</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top-blog__item effect-hover">
                        <a href="">
                            <div class="top-blog__item__img">
                                <img src="././assets/images/blog_02.png" alt="">
                                <span>Tattoo meaning</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top-blog__item effect-hover">
                        <a href="">
                            <div class="top-blog__item__img">
                                <img src="././assets/images/blog_03.png" alt="">
                                <span>Tattoo meaning</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content-child">
        <div class="top-about">
            <div class="row align-items-center">
                <div class="col-md-6 ">
                    <h2 class="ttl-01">About us</h2>
                    <p>Founded in 1999, PainfulPleasures began with the goal to provide the widest variety
                        of tattoo supplies, piercing supplies, and body jewelry in the world. Since then,
                        the PainfulPleasures brand and vision have expanded and come to fruition.</p>
                    <p>We keep pace with this exciting, ever-evolving industry by offering an unmatched
                        selection of products, from body jewelry and studio equipment to state-of-the-art
                        tattoo and piercing supplies. Browse our site for products from popular brands like
                        Cheyenne, FK Irons, Inkjecta, World Famous Inks, Dynamic, A Pound of Flesh,
                        Recovery, Precision, and Peak. If you have a vision, we have the supplies to make it
                        happen.</p>
                    <div class="top-about__btn btn-link">
                        <a href="">View all </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="././assets/images/about_img.png" alt="" class="d-none d-md-block">
                    <img src="././assets/images/about_img_01.png" alt="" class="d-md-none">
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
	"name": "Homepage Catagories",
	"tag": "section",
	"class": "section-content"
}
{% endschema %}