{% if section.settings %}
<div class="section-content-child d-sm-block d-none">
    <h2 class="ttl-01">Featured brands</h2>
    <div class="top-featured">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2">
                <div class="top-featured__img">
                    <a href=""><img src="././assets/images/feature_01.png" alt=""></a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="top-featured__img">
                    <a href=""><img src="././assets/images/feature_02.png" alt=""></a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="top-featured__img">
                    <a href=""><img src="././assets/images/feature_03.png" alt=""></a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="top-featured__img">
                    <a href=""><img src="././assets/images/feature_04.png" alt=""></a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="top-featured__img">
                    <a href=""><img src="././assets/images/feature_05.png" alt=""></a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="top-featured__img">
                    <a href=""><img src="././assets/images/feature_06.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
	"name": "Featured Brands",
	"tag": "section",
	"class": "section-content",
	"settings": [
		{
			"id": "featured_brands",
            "type": "collection_list",
            "label": "List brands",
		}
	]
}
{% endschema %}