{% assign brands = section.settings.featured_brands %}
{% if brands %}
<div class="section-content-child d-sm-block d-none">
    <h2 class="ttl-01">Featured brands</h2>
    <div class="top-featured">
        <div class="row">
            {% for brand in brands %}
            <div class="col-6 col-md-4 col-lg-2">
                <div class="top-featured__img">
                {{ brand.image
                | image_url: width: 200, crop: 'center'
                | image_tag: loading: 'lazy', alt: brand.image.alt
                | link_to: brand.url
                }}
                </div>
            </div>
          {% endfor %}
        </div>
    </div> 
</div>
{% endif %}

{% schema %}
{
	"name": "Featured Brands",
	"tag": "section",
	"class": "section-content",
	"settings": [
		{
			"id": "featured_brands",
            "type": "collection_list",
            "label": "List brands"
		}
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}