<div class="container">
    <div class="section-content-child">
        <h2 class="ttl-01">Shop by category</h2>
        <div class="top-shop">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Body jewelry</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Piercing</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Tatoo</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Permanent makeup</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Studio</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        <div class="top-shop__item__img">
                            <a href=""><img src="././assets/images/dummy01.png" alt=""> </a>
                        </div>
                        <p><a href="">Medical</a></p>
                        <div class="top-shop__item__btn btn-link">
                            <a href="">View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
	"name": "Homepage Catagories",
	"tag": "section",
	"class": "section-content",
    "blocks": [
        {
            "type": "categories",
            "name": "Featured category",
            "limit": 1,
            "settings": [
                {
                    "id": "featured_categories",
                    "type": "collection_list",
                    "label": "List categories"
                }
            ]
        }
    ]
}
{% endschema %}