{% if section.blocks != blank %}
<div class="container">
    <div class="section-content-child">
        <h2 class="ttl-01">blog</h2>
        <div class="top-blog">
            <div class="row">
                {% for block in section.blocks %}
                {% liquid
                assign blog = block.settings.blog
                assign image = block.settings.featured_image
                %}
                <div class="col-md-4">
                    <div class="top-blog__item effect-hover">
                        <a href="{{ blog.url }}">
                            <div class="top-blog__item__img">
                                {% liquid
                                if image != blank
                                echo image |image_url: width: 400, crop: 'center' | image_tag: loading: 'lazy', alt: image.alt
                                endif
                                %}
                                <span>{{ blog.title | escape }}</span>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
{% endif %}

{% schema %}
  {
    "name": "Blog",
    "tag": "section",
    "class": "section-content",
    "blocks": [
      {
        "type": "blogs",
        "name": "Blog post",
        "limit": 3,
        "settings": [
          {
            "id": "featured_image",
            "type": "image_picker",
            "label": "Featured Image"
          },
          {
            "id": "blog",
            "type": "blog",
            "label": "Select blog"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}