{% if section.blocks != empty %}
<div class="container">
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'categories' %}
    <div class="section-content-child">
        <h2 class="ttl-01">Shop by category</h2>
        <div class="top-shop">
            <div class="row">
                {% for collection in block.settings.featured_categories %}
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="top-shop__item">
                        {% if collection.image != blank %}
                            <div class="top-shop__item__img">
                                {{ collection.image
                                | image_url: width: 150, crop: 'center'
                                | image_tag: loading: 'lazy', alt: collection.image.alt
                                | link_to: collection.url
                                }}
                            </div>    
                        {% endif %}
                        <p>{{ collection.title | escape | remove: "[CATEGORY]" | link_to: collection.url }}</p>
                        <div class="top-shop__item__btn btn-link">
                            {{ 'View all' | link_to: collection.url }}
                        </div>
                    </div>
                </div>    
                {% endfor %}
            </div>
        </div>
    </div>
    {% endcase %}
    {% endfor %}
</div>
{% endif %}

{% schema %}
{
	"name": "Shop By Category",
	"tag": "section",
	"class": "section-content",
    "blocks": [
        {
            "type": "categories",
            "name": "Featured category",
            "limit": 1,
            "settings": [
                {
                    "id": "featured_categories",
                    "type": "collection_list",
                    "label": "List categories",
                    "limit": 6
                }
            ]
        }
    ]
}
{% endschema %}