<section class="top-banner js-slider-top homepage-slide">
    <div class="top-banner-item">
        <div class="d-flex align-items-center container">
            <div class="top-banner-item__info">
                <h3>Professional Tattoo Artist</h3>
                <h4>INKNFT</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <div class="top-banner-item__btn btn-link">
                    <a href="">Read more</a>
                </div>
            </div>
        </div>
        <div class="top-banner-item__img">
            <img src="{{ 'slider01.png' | asset_url }}" alt="" class="d-none d-md-block">
            <img src="{{ 'slider01_sp.png' | asset_url }}" alt="" class="d-md-none">
        </div>
    </div>
    <div class="top-banner-item">
        <div class="top-banner-item__img">
            <img src="{{ 'slider01.png' | asset_url }}" alt="" class="d-none d-md-block">
            <img src="{{ 'slider01_sp.png' | asset_url }}" alt="" class="d-md-none">
        </div>
    </div>
</section>

<script>
var homepage = {
	elements: undefined,
    init: function() {
    	try {
    		// this.elements = {
	    	// 	slide: document.querySelector('.homepage-slide')
	    	// };

	    	// document.addEventListener('DOMContentLoaded', function() {
	    	// 	console.log(this.elements);
	    	// });

	    	// if (this.elements.slide.length) {
	    	// 	console.log(1);
	    	// 	this.fetchData(); 
	    	// }
	    	jQuery('.homepage-slide').on('load', function() {
	    		console.log('abc');
	    	});
    	} catch (e) {
    		console.log('errors:' + e);
    	}
    }, 
    fetchData: function() {
    	console.log(this);
    }
};
homepage.init();
</script>

{% schema %}
{
	"name": "Homepage Slideshow",
	"blocks": [
		{
			"type": "slide",
			"name": "Homepage Slideshow",
			"limit": 1
		}
	]
}
{% endschema %}