<div class="top-banner-item">
    <div class="d-flex align-items-center container">
        <div class="top-banner-item__info">
            <h3>Professional Tattoo Artist</h3>
            <h4>INKNFT</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
            <div class="top-banner-item__btn btn-link">
                <a href="">Read more</a>
            </div>
        </div>
    </div>
    <div class="top-banner-item__img">
        <img src="././assets/images/slider01.png" alt="" class="d-none d-md-block">
        <img src="././assets/images/slider01_sp.png" alt="" class="d-md-none">
    </div>
</div>
<div class="top-banner-item">
    <div class="top-banner-item__img">
        <img src="././assets/images/slider02.png" alt="" class="d-none d-md-block">
        <img src="././assets/images/slider01_sp.png" alt="" class="d-md-none">
    </div>
</div>

{% schema %}
{
	"name": "Homepage Slide",
	"tag": "section",
	"class": "top-banner js-slider-top",
	"blocks": [
		{
			"type": "slide",
			"name": "Homepage Slideshow"
		}
	],
	"presets": [
		{
			"blocks": [
				{
					"type": "slide"
				}
			]
		}
	]
}
{% endschema %}