<div class="container">
    <div class="section-content-child product">
        <h2 class="ttl-01">New Product</h2>
        <div class="top-product js-slider-pro">{%- render 'icon-loading' -%}</div>
    </div>
</div>

{% assign products = section.settings.featured_products %}
{%- if products != empty -%}
    {%- capture data -%}
        {%- for product in products -%}
            {{ product | json }}{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
    {%- endcapture -%}
{%- else -%}
    {%- assign data = '' -%}
{%- endif -%}

<script type="text/javascript">
'use strict';

if (window.HomePage == undefined) {
    window.HomePage = {}
}

window.HomePage.Products = `[{{ data }}]`;
window.HomePage.IsWholesale = (localStorage.getItem('Customer_Mode') === 'wholesale' && (Shopify.User.caps != undefined && Shopify.User.caps.wholesale));
var o;
if ((o = JSON.parse(window.HomePage.Products)).length) {
    var i = [], a;
    o.forEach(e => {
        if (
            window.HomePage.IsWholesale && 
            e.options.includes('Customer') && 
            (a = e.variants.find(o => o.options.includes('wholesale') && o.available))
        ) {
            i.push(a);
        } else {
            i.push(e);
        }
    });
    console.log(i);
}
</script>
{% schema %}
{
	"name": "New Product",
	"tag": "section",
	"class": "section-content",
	"settings": [
		{
			"id": "featured_products",
            "type": "product_list",
            "label": "List products",
            "limit": 12
		}
	]
}
{% endschema %}