<div class="container">
    <div class="section-content-child product">
        <h2 class="ttl-01">New Product</h2>
        <div class="top-product js-slider-pro HomepageProducts">{%- render 'icon-loading' -%}</div>
    </div>
</div>

{% assign products = section.settings.featured_products %}
{%- if products != empty -%}
    {%- capture data -%}
        {%- for product in products -%}
            {{ product | json }}{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
    {%- endcapture -%}
{%- else -%}
    {%- assign data = '' -%}
{%- endif -%}

<script type="text/javascript">
'use strict';
window.Slick = new Event('Slick');

void 0 == window.HomePage && (window.HomePage = {}),
    (window.HomePage.Products = `[{{ data }}]`),
    (window.HomePage.HomepageProducts = document.querySelector(".HomepageProducts")),
    document.addEventListener("Sync", async (d) => {
        var a,
            b = localStorage.getItem("Customer_Mode") || "retail";
        if (("wholesale" != b || (Shopify.User.caps && Shopify.User.caps.wholesale) || (b = "retail"), (a = JSON.parse(window.HomePage.Products)).length)) {
            var e = [],
                c = "";
            a.forEach((a) => {
                if (a.options.includes("Customer")) {
                    var d = a.variants.find((a) => a.options.includes(b));
                    d && ((a.id = d.id), (a.price = d.price));
                }
                var e = "/products/" + a.handle;
                c += `
                    <div class="top-product__item">
                        <a href="${e}">
                            <div class="top-product__item__img">
                                <img src="${a.featured_image}" alt="${a.title}">
                            </div>
                            <p class="ttl">${a.title}</p>
                            <p class="price">${Shopify.formatMoney(a.price)}</p>
                        </a>
                        <div class="product-nav">
                            <a href="" data-variant-id="${a.id}"><i class="icon-cart-01"></i></a>
                        </div>
                    </div>
                    `;
            }),
                (window.HomePage.HomepageProducts.innerHTML = ""),
                await window.HomePage.HomepageProducts.insertAdjacentHTML("beforeend", c);
            document.dispatchEvent(window.Slick);
        }
    });
</script>
{% schema %}
{
	"name": "New Product",
	"tag": "section",
	"class": "section-content",
	"settings": [
		{
			"id": "featured_products",
            "type": "product_list",
            "label": "List products",
            "limit": 12
		}
	]
}
{% endschema %}