{% assign banner = section.settings.desktop_thumbnail %}
{% if banner != blank %}
{{
  banner
  | image_url: width: 1700, crop: 'center'
  | image_tag: loading: 'lazy', class: 'd-none d-md-block', alt: banner.alt 
}}
<img src="./assets/images/banner-child-sp.png" alt="" class="d-md-none">
<div class="child-banner__info">
    <div>
        <h2>{{ section.settings.name }}</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">{{ 'Home'| link_to: shop.url }} }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ section.settings.title }}</li>
            </ol>
        </nav>
    </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Shop",
    "tag": "section",
    "class": "child-banner",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Shop"
      },
      {
        "id": "desktop_thumbnail",
        "type": "image_picker",
        "label": "Desktop thumbnail"
      },
      {
        "id": "mobile_thumbnail",
        "type": "image_picker",
        "label": "Mobile thumbnail"
      }
    ]
  }
{% endschema %}