<div class="section-content-child">
    <div class="container">
        <h2 class="ttl-01">New Product</h2>
        <div class="top-product js-slider-pro ProductsFeatured">{%- render 'icon-loading' -%}</div>
    </div>
</div>

{% assign products = section.settings.products_featured %}
{%- if products != empty -%}
    {%- capture data -%}
        {%- for product in products -%}
            {{ product | json }}{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
    {%- endcapture -%}
{%- else -%}
    {%- assign data = '' -%}
{%- endif -%}

<script type="text/javascript">
'use strict';
var ProductsFeatured = { Container: document.querySelector(".ProductsFeatured") };
(ProductsFeatured.Products = "[{{ data }}]"),
    document.addEventListener("Sync", async () => {
        var a,
            b = localStorage.getItem("Customer_Mode") || "retail";
        if (("wholesale" != b || (Shopify.User.caps && Shopify.User.caps.wholesale) || (b = "retail"), (a = JSON.parse(ProductsFeatured.Products)).length)) {
            var c = [],
                d = "";
            (c = a.filter((a) => {
                var c;
                return (
                    (c = a.options.find((a) => "Customer" == a.name)
                        ? a.variants.find((a) => {
                              if (a.title.includes(b) && a.available) return a;
                          })
                        : a.variants.find((a) => {
                              if (a.available) return a;
                          })) || (b = a.variants[0]),
                    (a.id = c.id),
                    (a.price = c.price),
                    (a.available = c.available),
                    a
                );
            })).forEach((a) => {
                var b = "/products/" + a.handle;
                (d += `
                    <div class="top-product__item">
                        <a href="${b}">
                            <div class="top-product__item__img">
                                <img src="${a.featured_image}" alt="${a.title}">
                            </div>
                            <p class="ttl">${a.title}</p>
                            <p class="price">${Shopify.formatMoney(a.price)}</p>
                        </a>`),
                    a.available &&
                        (d += `<div class="product-nav">
                                    <a href="javascript:void(0)" onclick="addToCart(this)" data-variant-id="${a.id}"><i class="icon-cart-01"></i></a>
                                </div>`),
                    (d += "</div>");
            }),
                (ProductsFeatured.Container.innerHTML = ""),
                await ProductsFeatured.Container.insertAdjacentHTML("beforeend", d),
                document.dispatchEvent(window.Effect);
        } else ProductsFeatured.Container.closest(".section-content-child").remove();
    });

</script>
{% schema %}
{
    "name": "New Products",
    "tag": "section",
    "class": "section-content",
    "settings": [
        {
            "id": "products_featured",
            "type": "product_list",
            "label": "New Product"
        }    
    ]
}
{% endschema %}