{%- assign url = shop.url | append: page.url -%}
<div class="container">
    <div class="notice__content Contest-content">
    	{%- render 'icon-loading' -%}
    </div>
</div>
<script type="text/javascript">
'use strict';
var Contest = {};
window.addEventListener('load', async e => {
	Contest.Content = document.querySelector('.Contest-content');

	var content = await fetch(window.server.host + `/wp-json/tatoo/action/get-contest`, {
		method: "POST",
		headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({
        	email: `{{ customer.email }}`,
        })
	})
	.then(res => res.json());

	if (content.err) {
		Contest.Content.innerHTML = 'No Contests at the moment';
	} else {
		var contest = content.contest;
		var canSubmitMes = `{{ customer.email }}` ? `This contest is for ${contest.type} only` : 'You need to login first';
        
        var action = contest.canSubmit ? `Contest.ShowSubmitForm(this)` : `alert('${canSubmitMes}')`,
            content = contest.post_content.replace(/(?:\r\n|\r|\n)/g, '<br>');
      
		var i = `
			<h2 class="ttl-6">${contest.post_title}</h2>
            <div class="notice__mv">
                <img src="${contest.image}" alt="${contest.post_title}">
            </div>
            <div class="document">${content}</div>
            <div class="submit-container" style="margin-top: 30px;">
            	<div class="shipping__btn row">
	                <div class="col-sm-6">
	                    <div class="shipping__btn btn-submit">
	                        <div class="btn-payment"><a href="javascript:void(0)" onclick="${action}">Submit Entry</a></div>
	                    </div>
	                </div>
	            </div>
            </div>
            <div class="blog__share">
                <span>Share</span>
                {%- render 'icon-share-twitter', url: url -%}
                {%- render 'icon-share-fb', url: url -%}
            </div>
		`;
		Contest.Content.innerHTML = i;
	}
});

Contest.ShowSubmitForm = e => {

};
</script>
{% schema %}
{
	"name": "Contest Page",
	"tag": "section",
	"class": "notice-page",
	"settings": []
}
{% endschema %}